.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container-glass {
    width: 1027px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
}

.main-container {
    background-color: white;
    border-radius: 8px;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    height: 50vh;
    padding: 40px 20px;
}

.text-top {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.text-top h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--primaryL900);
    font-weight: 600;
    text-align: center;
    line-height: 0;
}

.text-top p {
    text-align: center;
    margin: 8px 0;
}

.input-container2 {
    display: flex;
    align-items: center;
}

.input-container2 p {
    margin-left: 5px;
}

.input-container2 a {
    margin-left: auto;
    align-items: center;
}

.text-bottom {
    margin: auto auto 0;
}
