/* ============== INPUT FLOAT LABEL ============== */
.input-float-label-holder{
    position: relative;
    margin-bottom: 24px;
}

.input-float{
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95% !important;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
}

.input-float-label{
    position: absolute;
    left: 5px;
    top: 10px;
    color: var(--black);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    transition: all 0.2s ease-in-out;
    padding: 0px 4px;
    background: transparent;
}

.input-float:focus + .input-float-label,
.input-float:not(:placeholder-shown) + .input-float-label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: var(--primaryL900);
}

.input-float:focus{
    border-width: 0 0 2px 0;
}

.input-float-label-holder .toggle-password{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    z-index: 100;
}
