/* ============== INPUT FLOAT LABEL ============== */
.input-float-label-holder {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.input-float {
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95% !important;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
}

.input-float-label {
    position: absolute;
    left: 5px;
    top: 10px;
    color: var(--black);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    transition: all 0.2s ease-in-out;
    padding: 0px 4px;
    background: transparent;
}

.input-float:focus+.input-float-label,
.input-float:not(:placeholder-shown)+.input-float-label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: var(--primaryL900);
}

.input-float:focus {
    border-width: 0 0 2px 0;
}

.input-float-label-holder .toggle-password {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    z-index: 100;
}

.input-error{
    border-bottom: 1px solid var(--dangerL700);
    transition: all ease-in-out 0.5s;
}

.input-error-label{
    color: var(--dangerL700);
    font-weight: 600;
    font-size: 15px;
}

.input-error-icon{
    color: var(--dangerL700);
}

/* ============== BUTTON ============== */
.button-holder {
    width: 100%;
}

.button-holder .button {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter';
    padding: 12px 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-out;
    background-color: var(--white);
    border: solid 1px var(--black);
}

.button-holder .button-primary {
    background-color: var(--primaryL900);
    color: var(--white);
}

.button-holder .button-secondary {
    background-color: var(--secondaryL900);
    color: var(--white);
}

.button-holder .button-red {
    background-color: var(--dangerL700);
    color: var(--white);
}

.button-holder .button-green {
    background-color: var(--successL700);
    color: var(--white);
}

.button-holder .button-yellow {
    background-color: var(--warningL700);
    color: var(--black);
}

.button-holder .icon-default, .button-holder .icon-left {
    margin-right: 5px;
}

.button-holder .icon-right {
    margin-left: 5px;
}

/* ================== ANIMATIONS ================== */

/* BUTTON HOVER */
.button-holder .button:hover {
    -webkit-animation: shadow-drop 0.25s ease-in-out both;
    animation: shadow-drop 0.25s ease-in-out both;
}

@keyframes shadow-drop {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        transform: translateZ(50px);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
    }
}

/* BUTTON LOADER */

.button-holder .button-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dot {
    height: 12px;
    width: 12px;
    margin-right: 6px;
    border-radius: 8px;
    background-color: #B3CFF0;
    animation: pulse 1s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.6);
        background-color: #B3CFF0;
        box-shadow: 0 0 0 0 rgba(0, 95, 204, 0.7);
    }

    50% {
        transform: scale(1);
        background-color: #669FE0;
        box-shadow: 0 0 0 10px rgba(0, 95, 204 0);
    }

    100% {
        transform: scale(0.6);
        background-color: #B3CFF0;
        box-shadow: 0 0 0 0 rgba(0, 95, 204, 0.7);
    }
}

/* BUTTON ERROR */

.button-error {
    background-color: var(--dangerL700) !important;
    animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-4px);
        opacity: 0.7;
    }

    20%,
    40%,
    60% {
        transform: translateX(4px);
    }

    80% {
        transform: translateX(2%);
        opacity: 0.7;
    }

    90% {
        transform: translateX(-2%);
        opacity: 1;
    }
}
